include ../mixins/card

mixin cat(data)
	.cat
		.container
			h2.title.title_sm.cat__title= data.title + ' ('
				a(href='#') смотреть все коллекции
				| )

			.row.justify-content-center.cat__wrap

				each val in card
					.col-sm-6.col-md-4.main__space-col
						+card(val)

			.text.cat__text-wrap!= data.text