include ../components/slider
include ../components/slider-sm
include ../mixins/item

mixin detail(data)
	.detail
		.container
			.row

				.col-md-6.col-lg-8.main__space-col
					+slider({
						alone: true
					})(class= data.detail ? 'slider_contain' : '')

				.col-md-6.col-lg-4.main__space-col
					.detail__title-wrap
						h1.title.title_sm= card[0].title
						a.favourite.detail__favourite(href='#')

					.detail__list(class= data.detail ? 'detail__list_table' : '')

						if data.list
							each val in data.list
								.detail__list-item
									.detail__list-title(class= val.upper ? 'detail__list-title_upper' : '')!= val.title

									if val.value
										.detail__list-value!= val.value

					if data.detail
						.detail__price-wrap

							if item[0].old_price
								.detail__list-item
									+price({
										price: item[0].old_price,
										old: true
									})(class='detail__old-price')

							.detail__list-item
								+price({
									price: item[0].price,
									strong: item[0].old_price
								})(class='detail__price')

							.detail__list-item
								.detail__num-wrap
									+num
									.detail__num-desc м<sup>2</sup>, округлено, кратно упаковке 1 м<sup>2</sup>

							.detail__list-item
								a.btn(href='#') В корзину

			.row

				if data.detail
					.col
						h3.title.title_sm.main__space-bot-half Похожие:
						+slider-sm(item)

				else

					each val in item
						.col-lg-6.col-xxl-4.main__space-col
							+item(val)