$name: modal;

.#{$name} {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	align-items: flex-start;
	justify-content: center;
	overflow-x: hidden;
	padding: 0;
	overflow-y: hidden;
	display: none;

	@include screen-sm() {
		padding: 5% 0 30px;
		overflow-y: auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		background-color: white;
		position: relative;
		transform: scale(.9);
		opacity: 0;
		transition: $duration ease transform, $duration linear opacity;

		@include screen-sm() {
			width: 700px;
			max-width: 100%;
			height: auto;
		}

		&_visible {
			transition: $duration * 2 ease transform, $duration linear opacity;
			transform: none;
			opacity: 1;
		}
	}

	&__head {
		padding: 4rem 8rem 1.5rem;
	}

	&__close {
		border: none;
		background: none;
		outline: none;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 1;
		width: 8rem;
		height: 8rem;

		$width: 2.6rem;
		$height: 2px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: $width;
			height: $height;
			top: 50%;
			left: 50%;
			margin-top: -($height / 2);
			margin-left: -($width / 2);
			background: $color-text;
			transition: $duration / 2 ease;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {

			&::before,
			&::after {
				background: $color-main;
			}
		}
	}

	&__body {
		position: relative;
		padding: 2.5rem 4rem;

		@include screen-sm(max) {
			height: 100%;
			overflow-y: auto;
			padding: 2.5rem 15px 15px;
		}
	}

	&__title {
		text-align: center;
	}

	&__check {
		font-size: 11px;
		color: $color-main;
	}

	&_lg {

		.#{$name} {
			// =====

			&__wrap {

				@include screen-sm() {
					width: 900px;
				}
			}
		}
	}

	&_sm {

		.#{$name} {
			// =====

			&__wrap {

				@include screen-sm() {
					width: 500px;
				}
			}
		}
	}

	&_visible {
		display: flex;
	}
}