block vars

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | #{global[0].name}
	body
		include ../partials/header

		main.main
			block content

		include ../partials/footer

		// END OF VISIBLE CONTENT

		//- Write invisible content here