block vars

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | #{global.name}
	body
		include ../partials/header

		main.main

			if page.noTitle !== true
				.section.section_space-bot_half
					.container
						h1.title= page.title

						if page.desc
							.text.main__space-top!= page.desc

			block content

		include ../partials/footer

		// END OF VISIBLE CONTENT

		//- Write invisible content here