block vars

doctype html
html(lang="ru")
	head
		block head
			include ../partials/head

		title #{page.title} | #{global.name}
	body
		include ../partials/header

		main.main

			if page.noTitle !== true
				.section.section_space-bot_half
					.container
						h1.title= page.title

						if page.desc
							.text.main__space-top!= page.desc

			block content

		include ../partials/footer

		// END OF VISIBLE CONTENT

		include ../partials/modal

		// MAP
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4gYQ3c1LGzyWyLN65QSTM7mtIHu_dNcA&signed_in=true&callback=initMap" async defer)
		script(src="js/map.js")