$name: btn;

.#{$name} {
	display: inline-block;
	max-width: 100%;
	position: relative;
	font-family: $font-main;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: 1px solid;
	border-color: $color-btn-1 $color-btn-2 transparent transparent;
	border-radius: 3px;
	background-color: $color-main;
	text-align: center;
	cursor: pointer;
	line-height: 1.15;
	outline: none;
	padding: .625em;
	word-break: break-word;
	text-overflow: ellipsis;
	overflow: hidden;

	&:hover {
		box-shadow: inset 0 2px 5px darken($color-main, 15%);
	}

	&:active {
		background: darken($color-main, 15%);
	}

	&_sm {
		font-size: 14px;
		font-weight: normal;
	}

	&_gray {
		background: $color-text;
		border-color: $color-text $color-text transparent transparent;

		&:hover {
			box-shadow: inset 0 2px 5px darken($color-text, 15%);
		}

		&:active {
			background: darken($color-text, 15%);
		}
	}

	&_lightgray {
		background: $color-light;
		border-color: $color-light;
		color: $color-text;
		font-weight: bold;
		transition: $duration / 2 ease;

		&:hover {
			box-shadow: none;
			color: white;
			background: $color-main;
		}

		&:active {
			transition: none;
			background: darken($color-main, 15%);
		}
	}

	&_wide {
		width: 100%;
	}
}