$name: input;

.#{$name} {
	appearance: none;
	padding: 10px 20px;
	border: 1px solid;
	border-radius: 3px;
	background: white;
	font-family: $font-main;
	font-weight: normal;
	color: $color-text;
	max-width: 100%;
	outline: none;

	@include input-autofill($color-text, $color-text, white);

	@include input-placeholder() {
		color: $color-text;
	}

	&:hover {
		border-color: $color-second;
	}

	&_invalid {
		color: $color-main;

		@include input-placeholder() {
			color: $color-main;
		}

		&:hover {
			border-color: $color-main;
		}
	}

	&_sm {
		font-size: 14px;
	}

	&_lightgray {
		background: $color-lighter;
		border-color: darken($color-gray, 5%);
		transition: $duration / 2 ease;
	}

	&_wide {
		display: block;
		width: 100%;
	}
}

textarea.#{$name} {
	height: 5em;
}