$name: link;

.#{$name} {
	@extend a:not([class]);

	&__arrow-left {
		margin-right: 3px;
	}

	&__arrow-right {
		margin-left: 3px;
	}

	&_dotted {
		border-bottom: 1px dotted;
	}

	&_gray {
		color: inherit;
	}
}