$name: main;

.#{$name} {
	flex: auto;

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-text;

		&:first-child {
			margin-top: 30px;
		}
	}

	&__space-col {
		margin-bottom: 30px;
	}

	&__space {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	&__space-bot {
		margin-bottom: 3rem;
	}

	&__space-top {
		margin-top: 3rem;
	}

	&__space-half {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	&__space-bot-half {
		margin-bottom: 1.5rem;
	}

	&__space-top-half {
		margin-top: 1.5rem;
	}

	&__fixed-check {
		display: inline-block;
		width: 150px;
		margin-bottom: 5px;
	}

	&__search-first-col {
		text-align: center;
		margin-top: 1.5rem;
		font-weight: bold;

		@include screen-md() {
			text-align: right;
			margin-top: 0;
			font-weight: normal;
		}
	}
}