$name: news;

.#{$name} {

	&__title {
		margin-bottom: 1em;
		display: inline-block;
		font-weight: bold;
	}

	&__desc {
		margin-bottom: 1em;
	}

	&__date {
		font-size: 14px;
		font-style: italic;
	}
}