include check

mixin check-list(data, id)
	.check-list
		.check-list__title
			+check({
				value: 'check-' + data.name + (id ? '-' + id : ''),
				text: data.name
			})
		.check-list__list

			each val in data.list
				.check-list__item
					+check({
						value: 'check-' + val + (id ? '-' + id : ''),
						text: val
					})