include ../components/filter

.section.section_space-bot_half
	.container
		h1.title Акции
		.text.main__space-top
			p В разделе "Акции" представлены как новинки, так и коллекции основного ассортимента, на которые действует специальная скидка. Время акции ограничено, поэтому спешите выбрать подходящую коллекцию по "вкусной" цене!

.section
	+filter()