.section.section_space-bot_none
	.container
		a.link(href='catalog.html')
			i.fa.fa-long-arrow-left.link__arrow-left
			| К результатам подбора

.section.section_space-bot_none
	.container
		.row

			.col-lg-5.main__space-bot
				h2.title.title_sm.main__space-bot-half Где купить
				.text.main__space-bot
					// Эдик, поменяй ссылки
					ul
						li Интернет-магазин с
							|
							|
							a(href='#') доставкой
							|
							| и
							|
							a(href='#') бесплатным самовывозом
							|
							| со складов
						li Магазины в Москве и МО
				include ../components/map

			.col-lg-7.main__space-bot
				h2.title.title_sm.main__space-bot-half Вопрос-ответ
				.gray
					.gray__text-wrap.text
						.main__space-bot
							.gray__question Можно ли оплатить картой?
							.gray__answer Да, при покупке на сайте мы принимаем к оплате карты
						.main__space-bot
							.gray__question Что делать, если в доставленной коробке обнаружится бой?
							.gray__answer Ничего страшного, звоните нам, мы бесплатно все заменим!
						.main__space-bot
							.gray__question Чем отличается керамическая плитка от керамогранита?
							.gray__answer Керамогранит более устойчив к истиранию. Обычно, его используют для пола в общих зонах (прихожая, ванная, туалет, кухня) или общественных местах.
						.main__space-bot
							.gray__question Где можно посмотреть варианты раскладки?
							.gray__answer При покупке при необходимости мы разработаем для вас раскладку. Так же у нас есть услуга 3D дизайна.
					a.btn.btn_gray.btn_sm(href='#' data-modal='modalQuestion') Задать вопрос

.section
	.container
		.text
			h3 О фабрике MAINZU
			p Интернет-магазин «Ватра Керамика» предлагает обширный ассортимент качественной керамической плитки для облицовки внутренних стен, в том числе и коллекции фабрики Mainzu. Все изделия имеют хорошую прочность и привлекательный вид.
			p Изделия этого бренда отличаются особой оригинальностью и неповторимостью. Плитку очень часто используют в отелях, ресторанах и кафе для создания богатого и роскошного интерьера. В доме и квартире этим материалом можно отделывать стены, подоконники, бордюры и пол.
			p В нашем каталоге представлены такие коллекции плитки Mainzu: шикарная Bombato, спокойная Calabria, изысканная Catania, строгая Cementine, необычная San Marco, цветущая Bolonia, креативная Treviso и New Doric под дерево. Керамические изделия не только имеют эстетичный внешний вид, но и обладают влагоотталкивающими и огнестойкими свойствами.

.section
	.container
		a.link(href='catalog.html')
			i.fa.fa-long-arrow-left.link__arrow-left
			| К результатам подбора