include ../components/detail

.section.section_space-bot_none
	.container
		a.link(href='catalog.html')
			i.fa.fa-long-arrow-left.link__arrow-left
			| К результатам подбора

.section.section_space-bot_none
	+detail(detail[1])

.section
	.container
		hr

include ../components/g_item_bottom