include ../mixins/news
include ../components/social

.section.section_space-bot_half
	.container
		h1.title Новость

.section.section_space-top_half
	.container
		.text
			h3 Lorem ipsum dolor sit amet
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			img.img.img_left(src='img/content/card/01.jpg' alt='')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			ul
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			h4 Lorem ipsum dolor sit amet
			img.img.img_right(src='img/content/card/01.jpg' alt='')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			ol
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
				li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			img.img(src='img/content/card/01.jpg' alt='')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.


.section
	.container
		a.link(href='news.html')
			i.fa.fa-long-arrow-left.link__arrow-left
			| К списку новостей

.section
	.container
		p.title.title_xs.main__space-bot-half Больше новостей в наших социальных сетях:
		+social(social)