include ../mixins/card

.container
	.row.main__separator
		.col-12
			.text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
				ul
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				ol
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.

	.row.main__separator
		.col-1
			h2.title .title
		.col-2
			h2.title.title_sm .title.title_sm
		.col-1
			a.link(href='#') .link

	.row.main__separator
		.col-1
			a.favourite(href='#')
		.col-1
			a.favourite.favourite_active(href='#')

	.row.main__separator
		each val in card
			.col-3
				+card(val)