include ../mixins/card
include ../mixins/cat-icon
include ../mixins/fancybox
include ../mixins/select
include ../components/cat
include ../components/social

.container
	.row.main__separator
		.col-12
			.text
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.
				ul
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				ol
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores, autem consequatur doloribus ea expedita explicabo in iste nam non quam ratione sapiente sunt, tempora unde veritatis voluptatibus. Culpa, eaque.

	.row.main__separator
		.col-1
			h2.title .title
		.col-2
			h2.title.title_sm .title.title_sm
		.col-1
			a.link(href='#') .link
		.col-1
			a.link(href='#')
				i.fa.fa-long-arrow-left.link__arrow-left
				| .link
		.col-1
			a.link(href='#') .link
				i.fa.fa-long-arrow-right.link__arrow-right

	.row.main__separator
		.col-1
			.btn .btn
		.col-1
			a.btn(href='#') a.btn
		.col-2
			input.btn(type='button' value='input.btn')
		.col-2
			button.btn button.btn
		.col-2
			.btn.btn_gray .btn.btn_gray
		.col-2
			.btn.btn_sm .btn.btn_sm
		.col-2
			.btn.btn_wide .btn.btn_wide

	.row.main__separator
		.col-2
			input.input(type='text' placeholder='.input')
		.col-2
			input.input.input_sm(type='text' placeholder='.input.input_sm')
		.col-3
			input.input.input_wide(type='text' placeholder='.input.input_wide')
		.col-2
			input.input.input_invalid(type='text' placeholder='.input.input_invalid')
		.col-3
			textarea.input(placeholder='textarea.input')

	.row.main__separator
		.col-2
			+select(select[0].item)
		.col-2
			+select(select[0].item, {
				wide: true
			})
		.col-2
			+select(select[1].item, {
				colors: true
			})

	.row.main__separator
		.col-1
			a.favourite(href='#')
		.col-1
			a.favourite.favourite_active(href='#')

	.row.main__separator
		.col-1
			a.count.count_bag(href='#') 3
		.col-1
			a.count.count_favourite(href='#') 2

	.row.main__separator
		.col-4
			+social(social)

	.row.main__separator
		each val in card
			.col-3
				+card(val)

	.row.main__separator
		.col-12
			+cat(cat[0])

	.row.main__separator
		.col-2
			+cat-icon(cat_icon[0])

	.row.main__separator
		.col-8
			.container
				include ../components/slider

	.row.main__separator
		.col-3
			+fancybox({
				link: 'img/content/card/01.jpg',
				title: 'Img 1',
				group: 'group-1'
			})
		.col-3
			+fancybox({
				link: 'img/content/card/01.jpg',
				title: 'Img 1',
				group: 'group-1',
				bg: true
			})