$name: map;

.#{$name} {
	height: 80vh;
	width: 100%;

	@include screen-sm() {
		height: 360px;
	}

	@include screen-lg() {
		height: 400px;
	}

	&__info {
		text-align: center;
		color: $color-text;
		font-size: 16px;
		font-family: $font-main;
	}
}