@import '../libs/normalize-css/normalize.css';
@import '../libs/bootstrap/dist/css/bootstrap-grid.css';
@import '../libs/fontawesome/css/font-awesome.css';
@import '../libs/slick-carousel/slick/slick.css';
@import '../libs/fancybox/dist/jquery.fancybox.css';

@import '../libs/jquery-ui/themes/base/selectmenu.css';
@import '../libs/jquery-ui/themes/base/button.css';