$color-main: #e8042a;
$color-second: #1183c6;
$color-text: #77787b;
$color-light: #e6e7e8;

$color-webcenter-1: #ff141f;
$color-webcenter-2: #334b61;

$point-sm: 576px;
$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;

$font-main: 'OpenSans', sans-serif;
$font-fa: 'FontAwesome', sans-serif;

$duration: .3s;

$path: '../';

// ----------------------------
// МИКСИНЫ ДЛЯ ТЕКУЩЕГО ПРОЕКТА
// ----------------------------

// ----------------------------
//
//
//
// -------------
// ОБЩИЕ МИКСИНЫ
// -------------

// Брейкпоинты
@mixin screen-sm($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}

@mixin screen-md($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}

@mixin screen-lg($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}

@mixin screen-xl($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-xl} - 1', 'min-width: #{$point-xl}')) {
		@content;
	}
}
// ===========

// Ретина
@mixin retina() {

	@media (min-resolution: 2dppx) {
		@content;
	}
}

// Подключение изображений для ретины
@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@include retina() {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}
		background-size: $width $height;
	}
}

// Стили плейсхолдера инпутов
@mixin input-placeholder() {

	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

// Сброс жёлтого выделения в хроме
@mixin input-autofill($font-color: black, $font-color-selected: $font-color, $bg-color: white) {

	&:-webkit-autofill {
		box-shadow: inset 0 0 0 50px $bg-color; /* Цвет фона */
		-webkit-text-fill-color: $font-color; /* цвет текста */
		color: $font-color; /* цвет текста */

		&::selection {
			-webkit-text-fill-color: $font-color-selected; /* цвет текста */
			color: $font-color-selected; /* цвет текста */
		}
	}
}

// -------------