$name: filter;

.#{$name} {

	&__tab {

		&_hidden {
			display: none;
		}
	}

	&__btns-wrap {

		@include screen-lg() {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
	}

	&__toggle {
		font-weight: normal;
		display: inline-block;
		margin-right: 20px;
		cursor: pointer;
		user-select: none;

		&:hover,
		&_active {
			color: black;
		}
	}

	&__view-btn {
		display: inline-block;
		width: 20px;
		height: 14px;
		background: no-repeat center / contain;
		margin-left: 10px;
		cursor: pointer;

		&_one {
			background-image: url($path + 'img/icons/order/one.png');

			&:hover {
				background-image: url($path + 'img/icons/order/one-active.png');
			}
		}

		&_four {
			background-image: url($path + 'img/icons/order/four.png');

			&:hover {
				background-image: url($path + 'img/icons/order/four-active.png');
			}
		}

		&_active {

			&.#{$name}__view-btn {
				// =====

				&_one {
					background-image: url($path + 'img/icons/order/one-active.png');
				}

				&_four {
					background-image: url($path + 'img/icons/order/four-active.png');
				}
			}
		}
	}
}