extends layouts/default

block vars
	-
		page = {
			title: 'Акции',
			desc: '<p>В разделе "Акции" представлены как новинки, так и коллекции основного ассортимента, на которые действует специальная скидка. Время акции ограничено, поэтому спешите выбрать подходящую коллекцию по "вкусной" цене!</p>',
			link: 'action.html'
		}

block content
	include pages/action